body {
    background: linear-gradient(90deg, rgba(0, 32, 36, 1) 0%, rgba(9, 121, 112, 0.8463760504201681) 51%, rgba(5, 158, 170, 1) 100%);
}
.Title {
    font-weight: bold;
    position: fixed;
    color: rgb(255, 255, 255);
    font-size: 45px;
    padding-left: calc(50% - 205px);
    padding-top: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 9px 6px rgb(8, 8, 8), 3px 0px 7px rgb(255, 255, 255, 0.7);
}
.BLURED_EFFECT {
    position: absolute;
    opacity: 0.9;
    filter: blur(15px);
    z-index: -1;
    top: -40px;
    left: -18px;
    background-color: transparent;
    border: rgb(98, 243, 212) 15px solid;
    border-radius: 10px;
    width: 103%;
    height: 103%;
}
.BackGround {
    background-color: rgb(64, 183, 252, 0.3);
    border-width: 5px;
    border-color: rgb(0, 69, 109);
    border-radius: 10px;
    position: fixed;
    filter: contrast(1.1) brightness(1.23);
    display: block;
    top: 200px;
    left: calc(50% - 200px);
    width: 400px;
    -webkit-box-shadow: 5px 7px 11px 6px rgba(7, 107, 92, 0.59);
    box-shadow: 5px 7px 11px 6px rgba(7, 107, 92, 0.59);
    height: 350px;
    display: grid;
    grid-template-rows: repeat(0, 139px);
    grid-template-columns: repeat(3, 135px);
    animation: float 4s ease-in-out infinite;
}
@media screen and (min-height:750px) {
    .BackGround {
        top: calc(50% - 175px);
    }
}
.BackGround>div {
    border: none;
    z-index: 2;
    filter: drop-shadow(-2px 16px 16px #034aa7) contrast(1.5);
    margin-left: 0px;
    width: 135px;
    height: 118px;
}
.WON {
    position: absolute;
    width: 375px;
    font-size: 3em;
    top: 275px;
    left: calc(50% - 180px);
    /*left: calc(50% - 180px);*/
    font-weight: bold;
    color: rgba(245, 201, 56, 0.7);
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 9px 6px rgb(8, 8, 8), 3px 0px 7px rgba(245, 248, 83, 0.7);
}
@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}
